// === Config menu & panels ===

.house__menu,
.house__panel {
	background-image: linear-gradient(45deg, #3f4042, #303133);
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1),
		inset 0 0 2px 0 rgba(255, 255, 255, 0.2);

	transition: transform 400ms ease;
	transform: translateX(-100%);

	&.house__panel--active {
		transform: translateX(-5px);
	}
}

// Main menu - with buttons
.house__menu {
	// width: 100%;
	height: 100%;
	padding: 0.5em;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transform: translateX(-5px) !important; // always visible
}

// Panel - with input form
.house__panel {
	position: absolute;
	top: 3em;
	padding: 1.5em;
}

// === Main Menu Button ===

.house__btn {
	font-size: 2em;
	line-height: 2em;
	padding: 0.15em;
	color: $color-primary;
	text-shadow: 0 0 3px $color-primary-translucent;
	user-select: none;
	cursor: pointer;
}

.house__btn:hover,
.house__btn.house__btn--active {
	color: $color-primary-active;
	text-shadow: 0 0 3px $color-primary-translucent-active;
}

.house__btn--disabled,
.house__btn--disabled:hover {
	color: $color-disabled;
	text-shadow: none;
	cursor: auto;
	pointer-events: none;
}
