*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

html {
  font-size: 70px;
}

@media only screen and (min-width: 15rem) {
  html {
    font-size: 120px;
  }
}

@media only screen and (min-width: 20rem) {
  html {
    font-size: 180px;
  }
}

@media only screen and (min-width: 25rem) {
  html {
    font-size: 250px;
  }
}

@media only screen and (min-width: 30rem) {
  html {
    font-size: 300px;
  }
}

.house__container {
  background: -webkit-gradient(linear, left top, right bottom, from(#272829), color-stop(#37383b), to(#272829));
  background: linear-gradient(to right bottom, #272829, #37383b, #272829);
  position: relative;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --scale: 1;
  --x: 0;
  --y: 0;
}

.house {
  height: 1rem;
  width: 1rem;
  -webkit-perspective: 3rem;
          perspective: 3rem;
  -webkit-transform: scale(var(--scale));
          transform: scale(var(--scale));
}

.house__faces {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-0.5rem) rotateY(var(--y)) rotateX(var(--x));
          transform: translateZ(-0.5rem) rotateY(var(--y)) rotateX(var(--x));
}

.house__face {
  position: absolute;
  width: 1rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.house__face--front,
.house__face--back {
  -webkit-clip-path: polygon(50% 0, 100% 0.28868rem, 100% 100%, 0 100%, 0 0.28868rem);
          clip-path: polygon(50% 0, 100% 0.28868rem, 100% 100%, 0 100%, 0 0.28868rem);
}

.media__container {
  height: 1rem;
  width: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(grey), to(black));
  background: linear-gradient(grey, black);
}

.house__face--left .media__container,
.house__face--right .media__container {
  height: 0.71132rem;
  margin-top: 0.28868rem;
  width: 1rem;
}

.house__face--top-left .media__container,
.house__face--top-right .media__container {
  height: 0.57735rem;
  margin-top: 0.42265rem;
  width: 1rem;
}

.house__face--front {
  -webkit-transform: rotateY(0deg) translateZ(0.5rem);
          transform: rotateY(0deg) translateZ(0.5rem);
}

.house__face--back {
  -webkit-transform: rotateY(180deg) translateZ(0.5rem);
          transform: rotateY(180deg) translateZ(0.5rem);
}

.house__face--left {
  -webkit-transform: rotateY(-90deg) translateZ(0.5rem);
          transform: rotateY(-90deg) translateZ(0.5rem);
}

.house__face--right {
  -webkit-transform: rotateY(90deg) translateZ(0.5rem);
          transform: rotateY(90deg) translateZ(0.5rem);
}

.house__face--bottom {
  -webkit-transform: rotateX(-90deg) translateZ(0.5rem);
          transform: rotateX(-90deg) translateZ(0.5rem);
}

.house__face--top-left {
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotateY(-90deg) translateZ(0.5rem) translateY(-0.71132rem) rotateX(60deg);
          transform: rotateY(-90deg) translateZ(0.5rem) translateY(-0.71132rem) rotateX(60deg);
}

.house__face--top-right {
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotateY(90deg) translateZ(0.5rem) translateY(-0.71132rem) rotateX(60deg);
          transform: rotateY(90deg) translateZ(0.5rem) translateY(-0.71132rem) rotateX(60deg);
}
/*# sourceMappingURL=index.css.map */