// -------------------- Vars --------------------

$color-primary: rgb(112, 80, 170);
$color-primary-translucent: rgba(112, 80, 170, 0.5);
$color-primary-active: rgb(146, 114, 206);
$color-primary-translucent-active: rgba(146, 114, 206, 0.7);
$color-secondary: rgb(138, 138, 138);
$color-secondary-translucent: rgba(138, 138, 138, 0.3);

// -------------------- Reset --------------------
*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

// ------------------ Scale --------------------

html {
	font-size: 60vmin;
}

// --------------- Main Container ------------------

.house__container {
	background: linear-gradient(to right bottom, #272829, #37383b, #272829);
	position: relative;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

// ------------------ The house --------------------

$wall-side: 1rem; // edge length
$roof-angle: 30deg; // between roof surface and horizontal plane
$sqrt3: 1.73205080757; // square root of 3
$roof-height: $wall-side * $sqrt3 / 6; // delta y between top and bottom points
$roof-length: $roof-height * 2; // roof surface height

// set with JS
:root {
	--scale: 1;
	--x: -2deg;
	--y: -40deg;
}

.house {
	height: $wall-side;
	width: $wall-side;
	perspective: $wall-side * 3;
	transform: scale(var(--scale));
}

.house__faces {
	position: relative;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transform: translateZ($wall-side / -2) rotateX(calc(var(--x) * 1deg))
		rotateY(calc(var(--y) * 1deg));
}

.house__face {
	position: absolute;
	width: $wall-side;
	height: $wall-side;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.house__face--front,
.house__face--back {
	clip-path: polygon(
		50% 0,
		100% $roof-height,
		100% 100%,
		0 100%,
		0 $roof-height
	);
}

.house__media-container {
	position: relative;
	width: $wall-side;
	height: $wall-side;
	display: flex;
	justify-items: center;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgb(78, 78, 78), rgb(43, 43, 43));
}

.house__face--left,
.house__face--right {
	.house__media-container {
		width: $wall-side;
		height: $wall-side - $roof-height;
		margin-top: $roof-height;
	}
}

.house__face--top-left,
.house__face--top-right {
	.house__media-container {
		width: $wall-side;
		height: $roof-length;
		margin-top: $wall-side - $roof-length;
	}
}

// Transformation

.house__face--front {
	transform: rotateY(0deg) translateZ($wall-side / 2);
}

.house__face--back {
	transform: rotateY(180deg) translateZ($wall-side / 2);
}

.house__face--left {
	transform: rotateY(-90deg) translateZ($wall-side / 2);
}
.house__face--right {
	transform: rotateY(90deg) translateZ($wall-side / 2);
}
.house__face--bottom {
	transform: rotateX(-90deg) translateZ($wall-side / 2);
}
.house__face--top-left {
	transform-origin: bottom center;
	transform: rotateY(-90deg) translateZ($wall-side / 2)
		translateY(-1 * ($wall-side - $roof-height)) rotateX(90deg - $roof-angle);
}
.house__face--top-right {
	transform-origin: bottom center;
	transform: rotateY(90deg) translateZ($wall-side / 2)
		translateY(-1 * ($wall-side - $roof-height)) rotateX(90deg - $roof-angle);
}

// ------------------ Media --------------------

.image,
.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	min-height: 100%;
	object-fit: cover;
}

.embed {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	display: flex;
	justify-items: center;
	align-items: center;
}

// ------------------ Effects --------------------

:root {
	--index: 0;
}

.media__filter {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		60deg,
		transparent 45%,
		white 50%,
		white 55%,
		transparent 60%
	);
	background-size: 150% 100%;
	background-repeat: repeat-x;
	background-position: calc(
		(var(--index) * 100 / 7 + 2 * var(--x) + 2 * var(--y)) * 1%
	);
	opacity: 0.2;

	// @media screen and (max-width: 800px) {
	// 	// make video clickable on mobile as autoplay doesn't work
	// 	pointer-events: none;
	// }
}

// -------------------- Controls --------------------

.house__controls {
	position: absolute;
	top: 5vh;
	left: 0;
	width: 150px;
	height: 50px;
	font-size: 16px;
}

// === Config panel & Add link panel ===

.house__panel,
.house__new-link {
	background-image: linear-gradient(45deg, #3f4042, #303133);
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1),
		inset 0 0 2px 0 rgba(255, 255, 255, 0.2);
	transition: transform 400ms ease;
}

.house__panel {
	width: 100%;
	height: 100%;
	padding-left: 5px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transform: translateX(-5px);

	&.house__panel--hiding,
	&.house__panel--hidden {
		transform: translateX(-90%);
	}
}

.house__new-link {
	position: absolute;
	top: 50px;
	padding: 20px;
	transform: translateX(-5px);

	&.house__new-link--hidden {
		transform: translateX(-100%);
	}

	form {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 15px;
	}
}

// === Button ===

.house__btn {
	font-size: 60px;
	color: $color-primary;
	text-shadow: 0 0 3px $color-primary-translucent;
	cursor: pointer;
}

.house__btn:hover,
.house__btn.house__btn--active {
	color: $color-primary-active;
	text-shadow: 0 0 3px $color-primary-translucent-active;
}

// === Input ===

.house__input {
	width: 160px;
}

.house__label {
	color: $color-secondary;
	text-shadow: 0 0 3px $color-secondary-translucent;
}

.house__input--submit {
	grid-column: 1 / -1;
}
