// -------------------- Vars --------------------

$color-primary: rgb(112, 80, 170);
$color-primary-translucent: rgba(112, 80, 170, 0.5);
$color-primary-active: rgb(146, 114, 206);
$color-primary-translucent-active: rgba(146, 114, 206, 0.7);
$color-secondary: rgb(138, 138, 138);
$color-secondary-translucent: rgba(138, 138, 138, 0.3);
$color-disabled: rgb(81, 82, 83);
