// ------------------ Scale --------------------

html {
	font-size: 60vmin;
}

// --------------- Main Container ------------------

.house__container {
	background: linear-gradient(to right bottom, #272829, #37383b, #272829);
	position: relative;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

/******************************************/
/*               THE HOUSE                */
/******************************************/

$wall-side: 1rem; // edge length
$roof-angle: 30deg; // between roof surface and horizontal plane
$sqrt3: 1.73205080757; // square root of 3
$roof-height: $wall-side * $sqrt3 / 6; // delta y between top and bottom points
$roof-length: $roof-height * 2; // roof surface height

// set with JS
:root {
	--scale: 1;
	--x: -2deg;
	--y: -40deg;
}

.house {
	height: $wall-side;
	width: $wall-side;
	perspective: $wall-side * 3;
	transform: scale(var(--scale));
}

.house__faces {
	position: relative;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transform: translateZ($wall-side / -2) rotateX(calc(var(--x) * 1deg))
		rotateY(calc(var(--y) * 1deg));
}

.house__face {
	position: absolute;
	width: $wall-side;
	height: $wall-side;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.house__face--front,
.house__face--back {
	clip-path: polygon(
		50% 0,
		100% $roof-height,
		100% 100%,
		0 100%,
		0 $roof-height
	);
}

// House Face Transformations

.house__face--front {
	transform: rotateY(0deg) translateZ($wall-side / 2);
}

.house__face--back {
	transform: rotateY(180deg) translateZ($wall-side / 2);
}

.house__face--left {
	transform: rotateY(-90deg) translateZ($wall-side / 2);
}
.house__face--right {
	transform: rotateY(90deg) translateZ($wall-side / 2);
}
.house__face--bottom {
	transform: rotateX(-90deg) translateZ($wall-side / 2);
}
.house__face--top-left {
	transform-origin: bottom center;
	transform: rotateY(-90deg) translateZ($wall-side / 2)
		translateY(-1 * ($wall-side - $roof-height)) rotateX(90deg - $roof-angle);
}
.house__face--top-right {
	transform-origin: bottom center;
	transform: rotateY(90deg) translateZ($wall-side / 2)
		translateY(-1 * ($wall-side - $roof-height)) rotateX(90deg - $roof-angle);
}

// Media container

.house__media-container {
	position: relative;
	width: $wall-side;
	height: $wall-side;
	display: flex;
	justify-items: center;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgb(78, 78, 78), rgb(43, 43, 43));
}

.house__face--left,
.house__face--right {
	.house__media-container {
		width: $wall-side;
		height: $wall-side - $roof-height;
		margin-top: $roof-height;
	}
}

.house__face--top-left,
.house__face--top-right {
	.house__media-container {
		width: $wall-side;
		height: $roof-length;
		margin-top: $wall-side - $roof-length;
	}
}

// ------------------ Media --------------------

.image,
.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	min-height: 100%;
	object-fit: cover;
}

.embed {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	display: flex;
	justify-items: center;
	align-items: center;
}

// ------------------ Effects --------------------

:root {
	--index: 0;
}

.media__filter {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		60deg,
		transparent 45%,
		white 50%,
		white 55%,
		transparent 60%
	);
	background-size: 150% 100%;
	background-repeat: repeat-x;
	background-position: calc(
		(var(--index) * 100 / 7 + 2 * var(--x) + 2 * var(--y)) * 1%
	);
	opacity: 0.2;

	// @media screen and (max-width: 800px) {
	// 	// make video clickable on mobile as autoplay doesn't work
	// 	pointer-events: none;
	// }
}
